<a href="https://colab.research.google.com/github/Debayan97531/Pandas/blob/main/panda12concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```
#provides various FACILITIES forbining easily combining together Series,DataFrame,Panel objects

#parametres:objs,axis,join,join_axes,ignore_index,keys,sort

In [ ]:
import pandas as pd

In [ ]:
sr1=pd.Series([0,12,23])
sr1

0     0
1    12
2    23
dtype: int64

In [ ]:
sr2=pd.Series([1,13,24,8,88])
sr2

0     1
1    13
2    24
3     8
4    88
dtype: int64

In [ ]:
pd.concat([sr1,sr2])

0     0
1    12
2    23
0     1
1    13
2    24
3     8
4    88
dtype: int64

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],
              'Name':['A','B','C','D'],
              'Class':[6,8,99,7]})
df1

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7

In [ ]:
df2=pd.DataFrame({'ID':[7,8],
              'Name':['G','H'],
              'Class':[29,37]})
df2

   ID Name  Class
0   7    G     29
1   8    H     37

In [ ]:
pd.concat([df1,df2])

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7
0   7    G     29
1   8    H     37

In [ ]:
pd.concat([df1,df2],axis=1)

   ID Name  Class   ID Name  Class
0   1    A      6  7.0    G   29.0
1   2    B      8  8.0    H   37.0
2   3    C     99  NaN  NaN    NaN
3   4    D      7  NaN  NaN    NaN

In [ ]:
pd.concat([df2,df1])

   ID Name  Class
0   7    G     29
1   8    H     37
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7

In [ ]:
pd.concat([df1,df2],axis=0,ignore_index=True)#default value false

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7
4   7    G     29
5   8    H     37

In [ ]:
pd.concat([df1,df2],axis=1,join='inner')#default outer

   ID Name  Class  ID Name  Class
0   1    A      6   7    G     29
1   2    B      8   8    H     37

In [ ]:
pd.concat([df1,df2],axis=1,join_axes=df1.index)

TypeError: ignored

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],
              'Name':['A','B','C','D'],
              'Class':[6,8,99,7]})
df1

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7

In [ ]:
df2=pd.DataFrame({'ID':[5,6,7,8],
              'Name':['E','F','G','H'],
              'Class':[4,5,29,37]})
df2

   ID Name  Class
0   5    E      4
1   6    F      5
2   7    G     29
3   8    H     37

In [ ]:
pd.concat([df1,df2],keys=['first','ec'])

         ID Name  Class
first 0   1    A      6
      1   2    B      8
      2   3    C     99
      3   4    D      7
ec    0   5    E      4
      1   6    F      5
      2   7    G     29
      3   8    H     37

In [ ]:
pd.concat([df1,df2],axis=1,keys=['first','ec'])

  first            ec
     ID Name Class ID Name Class
0     1    A     6  5    E     4
1     2    B     8  6    F     5
2     3    C    99  7    G    29
3     4    D     7  8    H    37

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],
              'Name':['A','B','C','D'],
              'Class':[6,8,99,7]})
df1

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7

In [ ]:
df2=pd.DataFrame({'Marks':[40,84,66,77]})
df2

   Marks
0     40
1     84
2     66
3     77

In [ ]:
pd.concat([df1,df2])

   ID Name  Class
0   1    A      6
1   2    B      8
2   3    C     99
3   4    D      7
0   5    E      4
1   6    F      5
2   7    G     29
3   8    H     37