<a href="https://colab.research.google.com/github/Debayan97531/Pandas/blob/main/Panda10GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#used to split into group based on some crieteria

*   List item
*   List item



**DataFrame.groupby()**

splittig ..applying..combining

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/student_results.csv')
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [ ]:
gr1=df.groupby(by='Class')
gr1

In [ ]:
gr1.groups

{10: [0, 1, 2], 11: [3, 4, 5], 12: [6, 7, 8, 9]}

In [ ]:
df.groupby(['Class','Sleeping hrs']).groups

{(10, 8): [1, 2], (10, 9): [0], (11, 7): [4, 5], (11, 10): [3], (12, 6): [6, 7], (12, 8): [8], (12, 9): [9]}

In [ ]:
for Class,df_1 in gr1:
  print(Class)
  print(df_1)

10
   Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
0        1001     10          2             9                       3
1        1002     10          6             8                       2
2        1003     10          3             8                       2

   Mobile Games hrs  Percantege
0                 5          50
1                 0          80
2                 4          60
11
   Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
3        1004     11          0            10                       1
4        1005     11          4             7                       2
5        1006     11         10             7                       0

   Mobile Games hrs  Percantege
3                 5          45
4                 0          75
5                 0          96
12
   Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
6        1007     12          4             6                       0
7        1008     12         10             6                       2
8        1009     12          2             8                       2
9        1010     12          6             9                       1

   Mobile Games hrs  Percantege
6                 0          80
7                 0          90
8                 4          60
9                 0          85

In [ ]:
dict(list(gr1))

{10:    Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
 0        1001     10          2             9                       3
 1        1002     10          6             8                       2
 2        1003     10          3             8                       2

    Mobile Games hrs  Percantege
 0                 5          50
 1                 0          80
 2                 4          60  ,
 11:    Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
 3        1004     11          0            10                       1
 4        1005     11          4             7                       2
 5        1006     11         10             7                       0

    Mobile Games hrs  Percantege
 3                 5          45
 4                 0          75
 5                 0          96  ,
 12:    Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
 6        1007     12          4             6                       0
 7        1008     12         10             6                       2
 8        1009     12          2             8                       2
 9        1010     12          6             9                       1

    Mobile Games hrs  Percantege
 6                 0          80
 7                 0          90
 8                 4          60
 9                 0          85  }

In [ ]:
gr3=df.groupby('Sleeping hrs').get_group(10)
gr3

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
3,1004,11,0,10,1,5,45

In [ ]:
gr1.sum()

,Student ID,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
Class,,,,,,
10,3006,11,25,7,9,190
11,3015,14,24,3,5,216
12,4034,22,29,5,4,315

In [ ]:
gr1.mean()

,Student ID,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
Class,,,,,,
10,1002.0,3.666667,8.333333,2.333333,3.000000,63.333333
11,1005.0,4.666667,8.000000,1.000000,1.666667,72.000000
12,1008.5,5.500000,7.250000,1.250000,1.000000,78.750000

In [ ]:
gr1.describe()

      Student ID                                                              \
           count    mean       std     min      25%     50%      75%     max
Class
10           3.0  1002.0  1.000000  1001.0  1001.50  1002.0  1002.50  1003.0
11           3.0  1005.0  1.000000  1004.0  1004.50  1005.0  1005.50  1006.0
12           4.0  1008.5  1.290994  1007.0  1007.75  1008.5  1009.25  1010.0

      Study hrs            ... Mobile Games hrs      Percantege             \
          count      mean  ...              75%  max      count       mean
Class                      ...
10          3.0  3.666667  ...              4.5  5.0        3.0  63.333333
11          3.0  4.666667  ...              2.5  5.0        3.0  72.000000
12          4.0  5.500000  ...              1.0  4.0        4.0  78.750000


             std   min   25%   50%    75%   max
Class
10     15.275252  50.0  55.0  60.0  70.00  80.0
11     25.632011  45.0  60.0  75.0  85.50  96.0
12     13.149778  60.0  75.0  82.5  86.25  90.0

[3 rows x 48 columns]

In [ ]:
gr1.agg(['sum','max','mean'])

      Student ID               Study hrs               Sleeping hrs      \
             sum   max    mean       sum max      mean          sum max
Class
10          3006  1003  1002.0        11   6  3.666667           25   9
11          3015  1006  1005.0        14  10  4.666667           24  10
12          4034  1010  1008.5        22  10  5.500000           29   9

                Social Media usage hrs               Mobile Games hrs      \
           mean                    sum max      mean              sum max
Class
10     8.333333                      7   3  2.333333                9   5
11     8.000000                      3   2  1.000000                5   5
12     7.250000                      5   2  1.250000                4   4

                Percantege
           mean        sum max       mean
Class
10     3.000000        190  80  63.333333
11     1.666667        216  96  72.000000
12     1.000000        315  90  78.750000